
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
}

html *::selection {
    background: #fdedef;
    color: #1F1B18
}

html *::-webkit-selection {
    background: #fdedef;
    color: #1F1B18
}

html *::-moz-selection {
    background: #edf9fd;
    color: #1F1B18
}

body,
html,
.__root {
    height: 100%
}

html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden
}

html,
html body {
    background: #C4C0B4;
}

body {
    font-size: 16px;
    line-height: 1.1;
    -webkit-text-size-adjust: none;
    color: #1F1B18;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

img,
svg,
video,
figure {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive Styles */
.container {
    padding: 0 80px;
}

.lora_ {
    font-family: 'Lora', serif;
}

.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.justify-space {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.flex-fill {
    flex-shrink: 0;
    flex-grow: 1;
}
.button {
    display: inline-block;
    transition: transform 200ms ease;
    cursor: pointer;
}
.button:active {
    transform: scale(.95);
}
.button_border {
    border-bottom: 1px solid #1F1B18;
}
.title {
    font-weight: 600;
    font-size: 1.3rem;
    word-wrap: break-word;
    margin-bottom: 5rem;
}
.cover_img {
    transform: rotate(-2deg);
    margin: 0 auto;
}
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: clamp(14px,2vw,28px) 0;
    font-size: 1rem;
    color: #f5f5f5;
}

header h1.logo {
    font-size: 1rem;
}

header .menu {
    width: 2rem;
    height: 2rem;
    background-color: #f5f5f5;
    border-radius: 9999999px;
}
header .menu .menu_inner {
    margin: 0 auto;
    width: 40%;
    height: 100%;
}
header .menu .menu_inner .menu_line {
    height: 40%;
    border-left: 2px solid #1F1B18;
}
section:not(.intro) {
    padding: 5rem 0;
}

section.intro,
section.intro .intro_inner {
    height: 100%;
    width: 100%;
}


section.intro .cover {
    height: 100%;
    width: 50%;
    background-color: #6B6860;
}
.second section.intro .cover {
    background-color: transparent;
}
section.intro .cover .cover_img {
    height: 90%;
    max-height: 38.75rem;
    max-width: 26.5rem;
    margin: 0 auto;
    transform: rotate(0deg);
}

section.intro .cover .cover_img .img_ {
    width: 100%;
    height: 100%;
    transform: rotate(-2deg);
}
section.intro .cover .cover_img .cover_text {
    position: absolute;
    top: 20%;
    transform: translateX(-50%);
    color: #DCD8BA;
    font-weight: 700;
}
.second section.intro .cover .cover_img .cover_text {
    mix-blend-mode: difference;
}
section.intro .cover .tiny_info {
    position: absolute;
    padding-top: 2rem;
    writing-mode: vertical-lr;
    bottom: 0;
    transform: rotate(180deg);
    font-weight: 600;
    font-size: .85rem;
}
section.intro .intro_item {
    height: 100%;
    width: 50%;
}
section.intro .intro_info,
section.intro .collaboration {
    padding: 0 7rem;
}
section.intro .intro_info {
    background-color: #1F1B18;
    color: #f5f5f5;
    height: 90%;
    padding-top: 8rem;
}
section.intro .intro_info h3 {
    font-weight: 600;
    font-size: 1.8rem;
}
section.intro .intro_info .intro_title {
    margin-bottom: 2rem;
}
section.intro .intro_info p {
    margin-bottom: 10rem;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1.5rem;
}
section.intro .intro_info .button {
    border-color: #f5f5f5;
}
section.intro .collaboration {
    height: 10%;
    font-weight: 600;
    font-size: 1rem;
}



section.about .bio {
    background-color: #1F1B18;
    color: #f5f5f5;
    padding: 5rem 9rem;
}

section.about .bio p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
}
section.about .skill {
    margin-top: 5rem;
}
section.about .skills_info {
    width: 50%;
    gap: 10%;
}
section.about .skills_info ol {
    list-style: none;
    counter-reset: counter;
    gap: 4rem;
}
section.about .skills_info ol li {
    font-weight: 600;
    font-size: 1srem;    
    position: relative;
    padding-left: 6rem;
  }
  
section.about .skills_info ol li:before {
    font-family: 'Lora', serif;
    content: counter(counter, upper-roman);
    counter-increment: counter;
    position: absolute;
    left: 0;
}
section.about .cover {
    width: 50%;
}
section.about .cover .cover_img {
    width: 90%;
    margin: 0 auto;
    max-width: 25.125rem;
    max-height: 37.75rem;
}

section.experience .cover {
    width: 50%;
}
section.experience .cover .cover_img {
    width: 90%;
    margin: 0 auto;
    max-width: 28rem;
    max-height: 43rem;
}

section.experience .timeline {
    width: 50%;
}
section.experience .timeline .exp {
    position: relative;
}

section.experience .timeline .exp::before {
    content: '';
    position: absolute;
    left: 3rem;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 2px;
    background-image: linear-gradient(to bottom,#222 0 15%,#fff0 10%);
    background-position: top;
    background-repeat: repeat-y;
    background-size: 1.5px 12px;
}

section.experience .timeline .exp .date {
    display: inline-block;
    background-color: #BBB6A5;
    padding: .8rem 2rem;
    font-weight: 600;
    font-size: .85rem;
}
section.experience .timeline .exp .date.current {
    background-color: #1F1B18;
    color: #f5f5f5;
}
section.experience .timeline .exp .exp_details {
    padding: 2rem 0 3rem 8rem;
    font-size: .9rem;
}
section.experience .timeline .exp .exp_details h4 {
    margin-bottom: 1rem;
    font-weight: 600;
}
section.experience .timeline .exp .exp_details p {
    font-weight: 400;
}
section.experience .collaboration {
    margin-top: 4rem;
}
section.experience .collaboration .companies {
    gap: 50px;
    color: #875936;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 25px;
    animation: marquee 5s linear infinite;
}
section.experience .collaboration:hover .companies {
    animation-play-state: paused;
}


footer {
    padding: clamp(14px,2vw,28px) 0;
    font-weight: 600;
}
footer .details {
    height: 8rem;
}
footer .details .info,
footer .details .cover {
    height: 100%;
}
footer .title {
    margin-bottom: 0;
}
footer .cover {
    width: 80%;
    max-height: 8rem;
}
footer .email {
    transform-origin: left;
}
footer .credits {
    padding: 10rem 0 1rem 0;
    font-size: .9rem;
}
/* animation */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translate(-100%);
    }
}